[project]
name = "tensorgrad"
version = "0.1"
dependencies = [
   "networkx",
   "torch",
   "nbval",
   "pytest",
   "einops",
   "pdf2image",
   "sympy"
]
requires-python = ">=3.11"
authors = [
  {name = "Thomas Ahle", email = "lobais@gmail.com"},
]
description = "Tensor Network Library with Symbolic Autograd"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["tensors", "autograd"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python"
]


[project.urls]
Homepage = "https://tensorcookbook.com"
Repository = "https://github.com/thomasahle/tensorgrad.git"
Issues = "https://github.com/thomasahle/tensorgrad/issues"

[build-system]
requires = [
   "setuptools",
   "wheel"
]
build-backend = "setuptools.build_meta"


[tool.setuptools]
packages = ["tensorgrad"]

[tool.ruff]
line-length = 110
indent-width = 4

[tool.pytest.ini_options]
addopts = "-s"
# addopts = "--nbval"

